@import './components/Block';
@import './components/Table';
@import './components/Loader';
@import './components/Alert';
@import './components/DarkOverlay.scss';
@import './components/Chat.scss';

html, body, #app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;    
    position: relative;   
    .Header {
        display: flex;
        align-items: center;
        height: 60px;
        background: #00b4d2;
        color: white;
        padding: 15px 10px;
        box-sizing: border-box;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .1);
        .MrCooperLogo {
            height: 38px;
            padding: 0 7px 0 31px;
        }
        span {
            font-family: 'Lato', 'Regular';
            font-size: 20px;
        }
    }

    .LogContainer {
        height: 100%;
        width: 100%;
        min-height: 0;
        display: flex;
        flex-flow: column;
        // align-items: center;
        background: #F3F2F7;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative; 

        .Heading {
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
            align-items: baseline;
            margin: 15px 42px;          
            span {
                line-height: 26px;
            }
            .Title {
                font-family: 'Lato', 'Medium';
                color: #00b4d2;
                font-size: 20px;
            }        
        }

        .BlocksHolder {
            display: flex;
            flex-wrap: wrap;
        }
    
        .LoaderHolder {
            height: 100px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .ActiveUsersHolder {
            width: 100%;
            box-sizing: border-box;
            padding: 10px 42px;

            .ActiveUsersHeading {
                font-family: 'Lato', 'Regular';
                padding: 10px 0;
            }
            .ActiveUsers {
                display: flex;
                justify-content: space-between;
                width: 500px;
                padding: 10px 0;
            }
        }
    }    
}